<div class="row" id="control_panel">

  <!-- 编辑面板 | 次级导航-->
  <div class="subnav span8 offset1">
    <ul class="nav nav-pills">
      <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">单选题 <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
        <a href="#" data-type="single-choice" class="create-btn">列表单选</a>
        </li>
        <li>
        <a href="#" data-type="single-dropdown" class="create-btn">下拉单选</a>
        </li>
      </ul>
      </li>
      <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">多选题 <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
        <a href="#" data-type="multi-choice" class="create-btn">列表多选</a>
        </li>
        <li>
        <a href="#" data-type="multi-dropdown" class="create-btn">下拉多选</a>
        </li>
      </ul>
      </li>
      <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">矩阵题 <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
        <a href="#" data-type="single-matrix" class="create-btn">矩阵单选</a>
        </li>
        <li>
        <a href="#" data-type="multi-matrix" class="create-btn">矩阵多选</a>
        </li>
      </ul>
      </li>
      <li>
      <a href="#" data-type="text" class="create-btn">文本框</a>
      </li>
    </ul>
    <ul class="nav pull-right nav-pills">
      <!--
      <li>
      <a href="#" data-type="text" class="mode" data-mode="edit-mode">预览模式</a>
      </li>
      -->
      <li>
      <a href="#" data-type="text" class="save btn btn-primary">保存</a>
      </li>
      <!--
      <li>
      <a href="#" data-type="text" class="publish">发布</a>
      </li>
      -->
    </ul>
  </div>
  <!-- End 编辑面板 | 次级导航-->
</div>

<div class="row">
  <div class="message-panel span8 offset1">
    <div class="alert">
      <a class="close" data-dismiss="alert">×</a>
      在编辑模式下，双击问卷的文本内容即可进行编辑，拖动问题的标题可更改问题的位置，拖动问题的选项可更改选项的位置
    </div>
  </div>
</div>
